
# Created by https://www.gitignore.io/api/macos,windows,salesforce

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Salesforce ###
# GitIgnore for Salesforce Projects
# Project Settings and MetaData
.project
.settings/
.metadata
build.properties
config

# Apex Log as optional
apex-scripts/log

# Eclipse specific
salesforce.schema
Referenced Packages
bin/
tmp/
config/
*.tmp
*.bak
local.properties
.settings
.loadpath
.classpath
*.cache

# Illuminated Cloud (IntelliJ IDEA)
IlluminatedCloud
out
.idea
*.iml

# Mavensmate
*.sublime-project
*.sublime-settings
*.sublime-workspace
mm.log

# Haoide SublimeText
.config
.deploy
.history

# OSX-specific exclusions
.[dD][sS]_[sS]tore

# The Welkin Suite specific
**/.localHistory

*.sfuo

TestCache.xml

TestsResultsCache.xml
### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk


# End of https://www.gitignore.io/api/macos,windows,salesforce
